---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section data-animate data-animate-speed="slow">
		<div class="mb-4 flex items-center justify-between">
			<div>
				<h1 class="text-2xl tracking-tighter">Marco Mihai Condrache</h1>
				<h2 class="mt-1 text-muted-foreground">Software Engineer</h2>
			</div>
		</div>
		<div class="mt-10 space-y-8">
			<p>
				I work as a software engineer for <em>Danfoss</em> in Italy. My passion
				for learning and self-improvement drives my professional growth and
				innovation in the field.
			</p>
			<p>
				Currently, I&apos;m immersing myself in <em>TypeScript</em> and{
					" "
				}
				<em>Rust</em>, aiming to push the boundaries of web development
				by creating high-performance, engaging user experiences.
			</p>
			<p>
				My approach to growth is hands-on: I learn through active{" "}
				<em>building</em> and&nbsp;
				<em>experimentation</em>, constantly refining my skills in the
				process.
			</p>
		</div>
	</section>
</Layout>
