@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply overscroll-x-none bg-stone-50 antialiased dark:bg-stone-950 dark:text-white;
  scrollbar-width: thin;
}

em {
  @apply font-serif italic text-base/5 text-[1.075rem];
}

a:not(.exclude) {
  @apply underline underline-offset-[2.5px] decoration-1 decoration-stone-300 transition-colors hover:decoration-stone-600 dark:decoration-stone-600 dark:hover:decoration-stone-500;
}

::selection {
  @apply bg-stone-950 text-stone-50 dark:bg-stone-100/30 dark:text-current;
}

.elevation-border {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0 1px 1px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.04);
}

@layer utilities {
  .linear-border {
    @apply border border-stone-200 dark:border-stone-800;
  }

  .markdown {
    @apply prose prose-stone max-w-none dark:prose-invert prose-headings:font-medium prose-a:font-normal prose-a:decoration-1 prose-a:underline-offset-[2.5px] prose-pre:linear-border;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.light {
  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);
    text-decoration: var(--shiki-light-text-decoration);
  }
}

.dark {
  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }

  .elevation-border {
    box-shadow: 0 0 0 1px theme("colors.stone.800");
  }
}

.animate-children > * {
  @apply animate-intro opacity-0;

  animation-delay: calc(100ms + var(--child-index, 0) * 120ms);
}

.animate-children > :nth-child(1) {
  --child-index: 0;
}
.animate-children > :nth-child(2) {
  --child-index: 1;
}
.animate-children > :nth-child(3) {
  --child-index: 2;
}
.animate-children > :nth-child(4) {
  --child-index: 3;
}
.animate-children > :nth-child(5) {
  --child-index: 4;
}
.animate-children > :nth-child(6) {
  --child-index: 5;
}
.animate-children > :nth-child(7) {
  --child-index: 6;
}
.animate-children > :nth-child(8) {
  --child-index: 7;
}
.animate-children > :nth-child(9) {
  --child-index: 8;
}
.animate-children > :nth-child(10) {
  --child-index: 9;
}
.animate-children > :nth-child(11) {
  --child-index: 10;
}
.animate-children > :nth-child(12) {
  --child-index: 11;
}
.animate-children > :nth-child(13) {
  --child-index: 12;
}
.animate-children > :nth-child(14) {
  --child-index: 13;
}
.animate-children > :nth-child(15) {
  --child-index: 14;
}
.animate-children > :nth-child(16) {
  --child-index: 15;
}
.animate-children > :nth-child(17) {
  --child-index: 16;
}
.animate-children > :nth-child(n + 18) {
  --child-index: 17;
}
