@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply overscroll-x-none bg-stone-50 antialiased dark:bg-stone-950;
}

em {
  @apply font-serif italic text-base/5 text-[1.075rem];
}

@layer utilities {
  .linear-border {
    @apply border border-stone-200 dark:border-stone-800;
  }

  .special-link {
    @apply underline decoration-1 decoration-stone-300 underline-offset-4 hover:decoration-black motion-safe:transition-all dark:decoration-stone-500 dark:hover:decoration-white;
  }

  .markdown {
    @apply prose prose-stone dark:prose-invert prose-headings:font-medium prose-a:font-normal prose-a:decoration-1 prose-a:underline-offset-[2.5px] prose-pre:linear-border;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html.light pre[data-theme*=" "],
html.light code[data-theme*=" "],
html.light code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

html.dark pre[data-theme*=" "],
html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}
